<template>
<div>
    <b-navbar toggleable="lg" type="dark" variant="secondary">
        <b-navbar-brand href="#">NavBar</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-button squared v-b-modal="'modal-center'">Add Question</b-button>

            <b-nav-item-dropdown right>
            
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
                <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>
        </b-collapse>
    </b-navbar>

    <addQuestion/>
    <editQuestion/>

<!-- QUESTIONLIST -->

    <b-row class="my-2 mx-0 justify-content-center align-items-center text-center d-none d-sm-flex">
        <b-col lg="3"><h4>Vraag</h4></b-col>
        <b-col lg="3"><h4>Antwoorden</h4></b-col>
        <b-col lg="3"><h4>categorie</h4></b-col>
        <b-col lg="3"><h4>Actie</h4></b-col>   
    </b-row>

    
        <b-row class="my-2 mx-0 d-flex justify-content-center align-items-center text-center w-100" v-for="question in questions" :key="question.id">
        <b-col cols="8" lg="3">{{ question.question }}</b-col>
        <b-col cols="8" lg="3"><span v-for="answer in answers" :key="answer.id"><b-badge  variant="dark" class="m-1" v-if="answer.question_id === question.id"> {{ answer.answer }} </b-badge></span></b-col>
        <b-col cols="4" class="d-lg-none" />
        <b-col cols="8" lg="3"><span v-for="category in categories" :key="category.id"><b-badge  variant="dark" class="m-1" v-if="category.id === question.category_id"> {{ category.category }} </b-badge></span></b-col>        
        <b-col cols="4" lg="3">
            <b-button squared v-b-modal.modal-center1 @click="fetchQuestion(question)" class="m-1" ><i class="far fa-edit"></i></b-button>
            <b-button squared class="m-1" @click="deleteQuestion(question)"><i class="far fa-trash-alt"></i></b-button>
        </b-col>   
    </b-row>

</div>
</template>

<script>
import {mapGetters} from 'vuex'
import addQuestion from '@/components/addQuestion.vue'
import editQuestion from '@/components/editQuestion.vue'

export default {
    components: {
        addQuestion,
        editQuestion
    },
    data () {
        return {}
    },

    mounted () {
        this.$store.dispatch('fetchQuestions')
        this.$store.dispatch('fetchAnswers')
        this.$store.dispatch('fetchCategories')
    },

    methods: {
        fetchQuestion(id) {
            this.$store.dispatch('fetchQuestion', id)
        },

        deleteQuestion(question) {
            this.$store.dispatch('deleteQuestion',question)
        },

        fetchAnswer(id) {
            this.$store.dispatch('fetchAnswer', id)
        },

        deleteAnswer(answer) {
            this.$store.dispatch('deleteAnswer',answer)
        },         
        
        fetchCategory(id) {
            this.$store.dispatch('fetchCategory', id)
        },

        deleteCategory(category) {
            this.$store.dispatch('deleteCategory',category)
        },    
        
        answerBelongsToQuestion(answer){
            return answer.question_id === this.question.id
        }
    },
    
    computed: {
        ...mapGetters([
            'questions',
            'answers',
            'categories',
            'getQuestionById',
            'getAnswerById',
            'getCategoryById'
        ]),

        answerlist: function (){
           return this.answers.filter(this.answerBelongsToQuestion)
        }
    }
}

  
</script>

<style>

</style>