<template>
  <b-row fluid class="m-0" style="height:100vh">
    <b-col lg="6" class="p-0 d-none d-lg-block overflow-hidden">
      <b-img src="../assets/stuff.jpg" style="max-height:100vh;"></b-img>
    </b-col>
    <b-col cols="12" lg="6" class="d-flex justify-content-center align-items-center" style="background: #2b2b2b;">
      <div align="center">
        <div class="d-sm-block d-lg-none" style="position:absolute; top:25px; left:0; width:100%;"><b-img src="../assets/parfumswinkel.png" style="max-height:35px;"></b-img></div>
        <h1 class="mb-5 text-white d-none d-lg-block">Welkom op het reviewplatform</h1>
        <h4 class="mb-5 text-white d-block d-lg-none">Welkom op het reviewplatform</h4>

          <b-form style="max-width: 30rem;" @submit.prevent="handleSubmit()">

            <template v-if="$v.user.gender.$error">
            <span class="error" v-if="!$v.user.gender.required">Kies een geslacht</span>
            </template>
            
            <b-form-group class="text-left text-white">
              <b-form-radio class="my-2" plain v-model="user.gender" name="gender" value="1">Man</b-form-radio>
              <b-form-radio class="my-2" plain v-model="user.gender" name="gender" value="0">Vrouw</b-form-radio>
            </b-form-group>

            <template v-if="$v.user.name.$error">
            <span class="error" v-if="!$v.user.name.required">Naam is verplicht</span>
            <span class="error" v-if="!$v.user.name.minLength">Name must have at least {{$v.user.name.$params.minLength.min}} letters.</span>
            </template>

            <b-form-input 
            class="my-1 text-white error" 
            style="background:#2b2b2b; border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" 
            v-model="user.name" 
            placeholder="Naam"        
            ></b-form-input>
            
            <template v-if="$v.user.email.$error">
            <span class="error" v-if="!$v.user.email.required">Email is verplicht</span>
            <span class="error" v-if="!$v.user.email.email">Vul geldig emailadres in</span>
            </template>

            <b-form-input 
            class="my-1 text-white" 
            style="background:#2b2b2b; border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" 
            v-model="user.email" 
            placeholder="Email"
            ></b-form-input>
            
            <template v-if="$v.user.place.$error">
            <label class="error" v-if="!$v.user.place.required">Woonplaats is verplicht</label>
            </template>

            <b-form-input 
            class="my-1 text-white" 
            style="background:#2b2b2b; border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" 
            v-model="user.place" 
            placeholder="Woonplaats"

            ></b-form-input>
            
            <b-form-group class="text-left m-0 text-white">
            <b-form-radio plain 
            class="my-4"  
            v-model="user.anonymous" 
            name="radio" value="1"
            >Anoniem</b-form-radio>

            
            <b-button squared  
            @click="emitName(); createUser(user); handleSubmit(); "  
            style="background:#8ac9ce; border:none;"
            :disabled="submitStatus === 'PENDING'"
            class="d-flex justify-content-center align-items-center"
            ><b-spinner small p-1 v-if="submitStatus === 'PENDING'"></b-spinner> 
            VOLGENDE
            </b-button>

            <p class="typo__p" v-if="submitStatus === 'ERROR'">Niet alle verplichte velden zijn ingevuld.</p>
            <p class="typo__p my-2" v-if="submitStatus === 'PENDING'">Gegevens verwerken...</p>
            <p class="typo__p my-2" v-if="submitStatus === 'OK'">Gegevens compleet.</p>
            <!-- v-bind:to="{path: 'page/welcome'}" -->
            </b-form-group>
          </b-form>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import {mapGetters} from 'vuex'
import { required, minLength, email } from 'vuelidate/lib/validators'
import { EventBus } from '@/event-bus.js';
export default {
    data () {
        return {
          user: {
            gender: '',
            name: '',
            email: '',
            place: '',
            anonymous: '',
          },
          submitStatus: null,
        }
    },
      validations: {
        user:{
        gender: { required },
        name: { required, minLength: minLength(3) },
        email: { required, email },
        place: { required },
        }
      },

    mounted () {
          this.$store.dispatch('fetchUserData')
      },

    methods: {
      emitName() {
        var username = this.user.name;
        EventBus.$emit('name', username);
        console.log(username) // eslint-disable-line
      },
      
          async createUser(user) {
            this.$v.$touch()
               if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
              } else {
                await this.$store.dispatch('createUser', user) 
                this.submitStatus = 'PENDING'
                setTimeout(() => {
                  this.submitStatus = 'OK'
                  setTimeout(() => {
                  this.$router.push('page/Welcome')
                  },500)
                }, 1500)
              }             
          },

          fetchUser(id) {
              this.$store.dispatch('fetchUser', id)
          },
    },

    computed: {
        ...mapGetters([
            'getUserById',
            'userdata'
        ]),
    }

}
</script>

<style scoped>
.error{
  color: #8ac9ce;
}
</style>



