<template>
  <div class="page">
    <Header/>
    <div class="content">
      <router-view></router-view>
    </div>
    <div class="footer ">
      <Footer/>
      </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'about',
  components: {
    Header,
    Footer,
  },
  data (){
    return {
    }
  },
}  
</script>

<style>

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  flex-shrink: 0;
}
</style>