<template>
  <div class="page">
    <Header/>
    <div class="content">
      <transition name="slide-fade" mode="out-in">
          <Question :key="currentQuestionIndex" :event="currentQuestion"/>
      </transition>
    </div>
    <div class="footer ">
      
      <Navigation/>
      <Footer/>
      </div>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Navigation from '@/components/Navigation.vue'
import Question from '@/components/Question.vue'
import EventService from '@/services/EventService.js'

export default {
  name: 'about',
  components: {
    Header,
    Footer,
    Navigation,
    Question
  },

  data (){
    return {
      questions: [],
      answers: [],
      currentQuestionIndex: 0,
    }  
  },
  computed: {
    currentQuestion: function () {
      return this.questions[this.currentQuestionIndex];
    }
  },
  methods: {
  	next: function () {
      this.currentQuestionIndex +=1;
      console.log(this.currentQuestionIndex) // eslint-disable-line
      if (this.currentQuestionIndex === this.questions.length) {
        this.$router.push({path: 'page/goodbye'})
      }
    },
    prev: function () {
      this.currentQuestionIndex --;
        console.log(this.currentQuestionIndex) // eslint-disable-line
      if (this.currentQuestionIndex < 0) {
         this.$router.push({name:'home'})
      }
    }
  }, 
  created () {
    EventService.getQuestions()
      .then(response => {
        this.questions = response.data // eslint-disable-line
      })
      .catch(error => {
        console.log('There was an error:' + error.response) // eslint-disable-line
      })


  }
}  
</script>

<style>

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  flex-shrink: 0;
}
</style>