<template>
  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ADD MODAL /////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

            <b-modal id="modal-center" centered title="Vraag toevoegen" @show="resetModal">
                <b-form @submit="createQuestion(question)">
                    <div>
                    <b-row class="mr-1">    
                    <b-col>
                        
                        <b-form-select class="m-1 my-3" v-model="category.category" :options="options">
                            <template v-slot:first>
                                <option value="" disabled>-- Kies een categorie voor de vraag --</option>
                            </template>
                        </b-form-select>
                    </b-col>  

                    <b-col cols="3">
                        <b-button squared class="m-1 my-3" style="background:#8ac9ce; border:none;" :disabled="!isValid" @click="createCategory(category);"><i class="fas fa-check"></i></b-button>
                    </b-col>
                    </b-row>
                    <div>                  
                    <!-- Question in form-->
                    <b-row v-show="showQuestion" class="mr-1">
                        <b-col>
                            <b-form-input class="my-3"  style="margin-left: 6px; border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" v-model="question.question"  placeholder="Vraag" @keyup.enter="createQuestion(question)"></b-form-input>
                        </b-col>
        
                        <b-col cols="3">
                            <b-button squared class="m-1 my-3" style="background:#8ac9ce; border:none;" :disabled="!questionValid" @click="createQuestion(question)"><i class="fas fa-check"></i></b-button>
                        </b-col>
                    </b-row>
                    </div>

                    <!-- FORM GROUP ANSWERS -->
                    <div v-show="showAnswers">
                    <b-form-group>
                    <b-row class="mr-0">
                        <b-col>
                            <b-form-input class="my-3"  style="margin-left: 6px; border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" v-model="answer.answer"  placeholder="Antwoord" @keyup.enter="createAnswer(answer)"></b-form-input>
                        </b-col>
        
                        <b-col cols="3">
                            <b-button squared class="m-1 my-3" style="background:#8ac9ce; border:none;" :disabled="!answerValid" @click="createAnswer(answer)">ADD</b-button>
                        </b-col>                       
                    </b-row>
                    
                    <b-col>
                        <div cols="12">
                            <label>Gegeven antwoorden voor de vraag:</label>
                        </div>
                        <b-badge pill variant="dark">Antwoord</b-badge>
                    </b-col>
                    
                    </b-form-group>
                    </div>
                    </div>
                </b-form>

                <template v-slot:modal-footer="{ ok, cancel }">
     
                    <!-- Emulate built in modal footer ok and cancel button actions -->
                    <b-button squared size="sm" variant="outline" @click="stop()">
                        CANCEL
                    </b-button>
                    <!-- Button with custom close trigger value -->
                    <b-button type="submit" squared size="sm" style="background:#8ac9ce; border:none;" @click="done()">
                        DONE
                    </b-button>
                    
                </template>
            </b-modal>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    
    data () {
        
        return {
            answerArray: [],
            showQuestion: false,
            showAnswers: false,
            catBtn: true,
            qstBtn: true,
            question: {
                question: ''
            },
            answer: {
                answer: ''
            },
            category: {
                category: ''
            },
            options: [
                {value: 'Make-up', text: 'Make-up'},
                {value: 'Huidverzorging', text: 'Huidverzorging'},
                {value: 'Parfum', text: 'Parfum'}
            ]
        }
    },

    mounted () {
        this.$store.dispatch('fetchQuestions')
        this.$store.dispatch('fetchAnswers')
        this.$store.dispatch('fetchCategories')
    },

    methods: {
        resetModal() {
        this.question.question = ''
        this.answer.answer = ''
        this.category.category = ''
      },

        async createQuestion(question) {
            this.$store.dispatch('createQuestion', question)
            this.showAnswers = true
            this.qstBtn = false
        },   

        async createAnswer(answer) {
            await this.$store.dispatch('createAnswer', answer)
            this.answer.answer = ''
        },

        deleteAnswer(answer) {
            this.$store.dispatch('deleteAnswer',answer)
        },         
        
        async createCategory(category) {
            await this.$store.dispatch('createCategory', category)
            this.showQuestion = true
            this.catBtn = false
        },   

        done() {
            this.$bvModal.hide('modal-center')
            setTimeout(() => this.showQuestion = false, 250);
            this.showAnswers = false
        },

        stop() {
            
            this.$bvModal.hide('modal-center')
            setTimeout(() => this.showQuestion = false, 250);
            this.showAnswers = false
        },
},

    computed: {
        ...mapGetters([
            'questions',
            'answers',
            'categories',
            'getQuestionById',
            'getAnswerById',
            'getCategoryById'
        ]),

        isValid() {
            return this.category.category 
        },

        questionValid() {
            return this.question.question 
        },

        answerValid() {
            return this.answer.answer 
        },
    }
}
</script>

<style>

</style>