<template>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////
// EDIT MODAL /////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <b-modal id="modal-center1"  centered title="Vraag bewerken">
                
        <b-form @submit.prevent="editQuestion(question)">
            <b-form-group class="text-left">
                <b-form-radio plain value="make-up">Make-up</b-form-radio>
                <b-form-radio plain value="Parfum">Parfum</b-form-radio>
                <b-form-radio plain value="Verzorging">Verzorging</b-form-radio>
            </b-form-group>
                    
            <b-form-input class="my-5" style=" border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" v-model="qstn.question" placeholder="Vraag"></b-form-input>

            <b-form-group>
                <b-row>
                    <b-col cols="9">
                        <b-form-input class="my-2" style=" border:none; border-bottom: 1px solid #8bc7cd; border-radius:0;" v-model="answr.answer" placeholder="Antwoord"></b-form-input>
                    </b-col>
                    <b-col cols="3">
                        <b-button squared class="m-1" style="background:#8ac9ce; border:none;"><i class="far fa-plus-square"></i></b-button>
                        <b-button squared class="m-1" style="background:#8ac9ce; border:none;"><i class="far fa-trash-alt"></i></b-button>
                    </b-col>
                </b-row>
            </b-form-group>
        </b-form>
             
        <template v-slot:modal-footer="{ ok, cancel, hide }">
     
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <b-button squared size="sm" variant="outline" @click="cancel()">
                CANCEL
            </b-button>
            <!-- Button with custom close trigger value -->
            <b-button  squared size="sm" style="background:#8ac9ce; border:none;" @click.prevent="editQuestion(question)">
                EDIT
            </b-button>
                    
        </template>
    </b-modal>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            question: {
                question: ''
            },
            answer: {
                answer: ''
            },
            category: {
                category: ''
            },
            answr: '',
            qstn: '',
            options: [
                {value: 'Make-up', text: 'Make-up'},
                {value: 'Huidverzorging', text: 'Huidverzorging'},
                {value: 'Parfum', text: 'Parfum'}
            ]
        }
    },

    mounted () {
        this.$store.dispatch('fetchQuestions')
        this.$store.dispatch('fetchAnswers')
        this.$store.dispatch('fetchCategories')
    },

    methods: {
        resetModal() {
        this.question.question = ''
        this.answer.answer = ''
        this.category.category = ''
      },

        editQuestion(question) {
            const qstn = {
                id: question.id,
                question: question.question
            }
            this.$store.dispatch('editQuestion', qstn);
            this.$bvModal.hide('modal-center1')
        },

        fetchQuestion(id) {
            this.$store.dispatch('fetchQuestion', id)
        },      

        editAnswer(answer) {
            const answr = {
                id: answer.id,
                answer: answer.answer
            }
            this.$store.dispatch('editAnswer', answr);
            this.$bvModal.hide('modal-center1')
        },

        fetchAnswer(id) {
            this.$store.dispatch('fetchAnswer', id)
        },   
        
        fetchCategory(id) {
            this.$store.dispatch('fetchCategory', id)
        },

        done() {
            this.$bvModal.hide('modal-center')
        }
},

    computed: {
        ...mapGetters([
            'questions',
            'answers',
            'categories',
            'getQuestionById',
            'getAnswerById',
            'getCategoryById'
        ]),

        isValid() {
            return this.category.category 
        },

        questionValid() {
            return this.question.question 
        },

        answerValid() {
            return this.answer.answer 
        },
    }
}
</script>

<style>

</style>