<template>
 <b-row fluid class="m-0 " style="background:#2b2b2b; height:75px;">
     <b-col class="d-flex justify-content-center align-items-center" style="color: #8ac9ce">
        <div>
        <a href="https://www.instagram.com/parfumswinkel/" target="_blank" style="text-decoration: none; font-size:30px; margin:5px; color:#fff"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" style="text-decoration: none; font-size:30px; margin:5px; color:#fff"><i class="far fa-envelope"></i></a>
        <a href="https://www.facebook.com/Parfumswinkel/" target="_blank" style="text-decoration: none; font-size:30px; margin:5px; color:#fff"><i class="fab fa-facebook-square"></i></a>
        </div>
        </b-col>
 </b-row>
</template>

<script>
export default {

}
</script>

<style>

</style>