<template>
    <b-container>
        <b-row fluid class="d-flex flex-column justify-content-center align-items-center">
            <b-col cols="10" lg="8" class="d-flex align-items-center justify-content-center mb-2" 
            style="min-height:50px; text-align:center; padding-top:20px;">
            <!-- display on screens medium or bigger -->
            <h1 style="margin:10px; width:100%;" class="d-none d-md-block">Hartelijk dank</h1>
            <!-- display on screens small or smaller -->
            <h4 style="margin:10px;" class="d-md-none">Hartelijk dank</h4>
          
            </b-col>

            <b-col cols="8" lg="4" class="d-flex align-items-center justify-content-center mb-2" 
            style="min-height:50px; text-align:center; padding-bottom:20px;">
            <p class="d-block">Mede dankzij jou beoordeling kunnen andere klanten betere beslissingen maken.</p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

export default {
    
}  


</script>
<style>

</style>