<template>
 <b-row fluid class="m-0" style="background:#2b2b2b; height:75px;">
    <b-col cols="3" lg="4" class="d-flex justify-content-start align-items-center">
        <b-button squared class="d-none d-lg-block" style="background:#2b2b2b; border:none; color:#ffffff">Terug naar winkel</b-button>
        <b-button squared class="d-block d-lg-none" style="background:#2b2b2b; border:none; color:#ffffff; font-size:25px;"><a href="https://www.parfumswinkel.nl/" style="color:#fff;"><i class="fas fa-chevron-left fa"></i></a></b-button>
    </b-col>
    <b-col cols="6" lg="4" class="d-flex justify-content-center align-items-center">
         <b-img src="../assets/parfumswinkel.png" style="max-height:30px;"></b-img>
    </b-col>
    <b-col cols="3" lg="4" class="d-flex justify-content-end align-items-center">
        <div style="color:#ffffff" class="d-none d-lg-block px-3">
            <h6>Deze review is voor het product: </h6>
                Yves Saint Laurent Black Opium
        </div>
        <b-button variant="link" id="popover-target" class="d-block d-lg-none" style="background:#2b2b2b; border:none; color:#ffffff; font-size:25px;"><i class="fas fa-info-circle"></i></b-button>
            <b-popover show target="popover-target" triggers="hover" placement="top">
                
                <h6>Deze review is voor het product: </h6>
                Yves Saint Laurent Black Opium
            </b-popover>
    </b-col>
 </b-row>
</template>

<script>
export default {

}
</script>

<style scoped>
    .b-popover{
        background-color: #8ac9ce;
        color: #8ac9ce;
    }
</style>