<template>
 <b-row fluid class="m-0 " style="height:50px;">
    <!-- back button -->
    <b-col align="left">
        <!-- back button on medium screen or bigger -->
        <b-btn @click="prev" class="d-none d-md-inline-block" 
        style="text-decoration: none; font-size:20px; margin:5px; border:none; background:#fff; color:#2b2b2b" 
       ><i class="fas fa-chevron-left fa"></i> Vorige</b-btn>
        <!-- back button on small screen or smaller -->
        <b-btn @click="prev" class="d-md-none" style="text-decoration: none; font-size:16px; margin:5px; border:none; background:#fff; color:#2b2b2b" 
        ><i class="fas fa-chevron-left fa"></i> Vorige</b-btn>
    </b-col>

    <!-- next button (Geen mening) -->
    <b-col align="right">
        <!--Button on medium screen or bigger -->
        <b-btn @click="next" class="d-none d-md-block" style="text-decoration: none; font-size:20px; margin:5px; border:none; background:#fff; color:#2b2b2b">Geen mening</b-btn>
        <!--Button on medium screen or bigger -->
        <b-btn @click="next" class="d-md-none" style="text-decoration: none; font-size:16px; margin:5px; border:none; background:#fff; color:#2b2b2b">Geen mening</b-btn>
    </b-col>
 </b-row>
</template>

<script>
export default {
    methods: {
        next(){
            this.$parent.next();
        },
        prev(){
            this.$parent.prev();
        }
    }
}
</script>

<style>

</style>