<template> 

<b-container fluid>
    
    <b-row fluid class="d-flex flex-column justify-content-center align-items-center">
        <!-- Display question -->
        <b-col cols="10" lg="8" class="d-flex align-items-center justify-content-center mb-2" 
        style="min-height:50px; text-align:center; padding-top:20px; padding-bottom:20px;">
            <!-- Display question on large screens-->
            
            <h3 class="d-none d-lg-block">
             {{ event.question }}
            </h3>
             <!-- Display question on medium screens or smaller-->
            <h4 class="d-block d-lg-none">
                 {{ event.question }}
            </h4>
            
         </b-col>
        
        <!-- Display answer(s) -->
        <b-col cols="10" lg="3" class="d-flex align-items-center justify-content-center mb-2" v-for="answer in answerlist" :key="answer.id">
            <b-btn @click="selected = answer.id; next()" :class="{highlight:answer.id == selected}" style="min-height:50px; width:100%; border: 1px solid #d5d5d5; padding:10px; font-weight:700; color:#2b2b2b; background:#ffffff">
                {{ answer.answer }}
            </b-btn>
        </b-col>
      
    </b-row>
    
    </b-container>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
      data (){ 
        return {
            selected: false
        }  
    },
    props: {
        event: Object,
    },
    methods: {
        next(){
            setTimeout(() => this.$parent.next(), 200);    
                
        },
        answerBelongsToQuestion(answer){
            return answer.question_id === this.event.id
        }
    },
    computed: {
        ...mapGetters([
            'answers',
        ]),
    
        answerlist: function (){
           return this.answers.filter(this.answerBelongsToQuestion)
        }
    },

    mounted () {
        this.$store.dispatch('fetchAnswers')
    },
}  
</script>

<style scoped>  
.highlight{
    background: #8ac9ce !important;
    border: none !important;
    color: #ffffff !important;
    outline: 0;
}

</style>