<template>
    <b-container>
        <b-row fluid class="d-flex flex-column justify-content-center align-items-center">
            <b-col cols="10" lg="8" class="d-flex align-items-center justify-content-center mb-2" 
            style="min-height:50px; border:2px solid #d5d5d5; text-align:center; padding-top:20px; padding-bottom:20px;">
            <div class="top"><h1 style="color:#8ac9ce; font-weight:600;">TIP</h1></div>
            <p style="margin:10px;" class="d-none d-md-block">Wrijven zorgt ervoor dat de geur sneller ontwikkelt, waardoor de topnoten sneller verdwijnen en je de geur minder lang ruikt.</p>
            <p style="margin:10px; font-size:14px;" class="d-md-none">Wrijven zorgt ervoor dat de geur sneller ontwikkelt, waardoor de topnoten sneller verdwijnen en je de geur minder lang ruikt.</p>
            <div class="bottom">
                <b-btn style="text-decoration: none; font-size:16px; margin:5px; border:none; background:#fff; color:#8ac9ce;" to="/about/question">
                    Verder
                    <i class="fas fa-chevron-right fa"></i>                     
                </b-btn>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

export default {
   
}  

</script>
<style>
.top{
    width: 65px;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 50px;
    line-height: 120px;
    position: absolute;
    left: 0%;
    top: 0%;
    background: #fff;
}

.bottom{
    margin-right: 10px;
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-bottom: -20px;
}

@media only screen and (max-width: 600px) {

  .bottom{
      margin-bottom: -23px;
  }
}
</style>