<template>
    <b-container>
        <b-row fluid class="d-flex flex-column justify-content-center align-items-center">
            <b-col cols="10" lg="8" class="d-flex align-items-center justify-content-center mb-2" 
            style="min-height:50px; text-align:center; padding-top:20px; padding-bottom:20px;">
            <!-- display on screens medium or bigger -->
            <h1 style="margin:10px;" class="d-none d-md-block">Hallo {{ data }}</h1>
            <!-- display on screens small or smaller -->
            <h3 style="margin:10px;" class="d-md-none">Hallo {{ data }}</h3>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import { EventBus } from '@/event-bus.js'
export default {
   data () {
       return {
           data: '',
       }
   },
//    go to question after 2,5 seconds.
   created() {
        EventBus.$on('name', (username) =>{
           this.data = username
        });
        
        setTimeout(() => this.$router.push('/questions'), 2500);
    },


}  

</script>
<style>

</style>